<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>部门管理</title>
    <link rel="stylesheet" href="../css/Reset.css">
    <link rel="stylesheet" href="../css/DepartmentManagement.css">
</head>

<body>
    <div id="header" class="header">
        <div class="top center">
            <div class="logo lf">
                <h3>协同办公管理平台</h3>
                <h4>考勤子系统</h4>
            </div>
            <span class="fr"><a href="#">退出</a></span>
            <span class="fr"><a href="#">个人信息</a></span>
            <div class="selected">
                <p class="userAdmin fl"><a href="#">用户管理</a></p>
                <p class="departmentAdmin fl"><a href="#">部门管理</a></p>
                <p class="attendanceSettings fl"><a href="#">考勤设置</a></p>
            </div>
        </div>
        <p class="bottom">当前位置:部门管理</p>
    </div>
    <div class="mainBox">
        <div class="main center">
            <div class="maintop"></div>
            <div class="login center">
                <form action="get" class="loginInput fl">
                    <label for="">部门名称 : </label><input type="text" id="">
                    <label for="">主管 : </label><input type="text" id="">
                </form>
           
                <button class="">查询</button>
            </div>
            <div class="listbox">
                <div class="list center">
                    <div class="btndiv">
                        <button id="btn_add">添加</button>
                    </div>
                    <div class="table">
                        <div class="numberid_tr">序号</div>
                        <div class="userid_tr">部门名称</div>
                        <div class="username_tr">主管</div>
                        <div class="kong"> </div>
                    </div>
                    <div class="table">
                        <div class="numberid_tr">1</div>
                        <div class="userid_tr">后勤</div>
                        <div class="username_tr">陈建浩</div>
                        <div class="edit">编辑</div>
                    </div>
                    <div class="page">
                        <span>首页</span>
                        <span>上一页</span>
                        <select class="changepage" id="changepage">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <span>下一页</span>
                        <span>尾页</span>
                        <span>页数 : 2</span>
                        <span>总记录数 : 14</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <p class="fl">当前用户 : 管理员</p>
        <p class="fl">用户类型 : 系统管理员</p>
        <p class="fr">协同办公管理平台----考勤子系统</p>
    </div>

    <div id="adduserbox" class="adduserbox">
        <p class="adduser_p fl">新增用户</p>
        <p class="close fr">X</p>
        <div class="adduser">
            <p><span>*</span>用户ID :</p>
            <input type="text" name="" id="">
            <p><span>*</span>用户姓名 :</p>
            <input type="text" name="" id="">
            <p><span>*</span>用户类型 :</p>
            <select name="" id="">
                <option value="">请选择</option>
            </select>
            <p>所属部门 :</p>
            <select name="" id="">
                <option value="">请选择</option>
            </select>
            <p>手机 :</p>
            <input type="text">
            <div class="adduserinfo_btn">
                <button>保存</button>
                <button>取消</button>
            </div>
        </div>
    </div>
    <div id="edituserbox" class="edituserbox">
        <p class="edituser_p fl">编辑用户</p>
        <p class="close fr">X</p>
        <div class="edituser">
            <p><span>*</span>用户ID :</p>
            <input type="text" name="" id="">
            <p><span>*</span>用户姓名 :</p>
            <input type="text" name="" id="">
            <p><span>*</span>用户类型 :</p>
            <select name="" id="">
                <option value="">请选择</option>
            </select>
            <p>所属部门 :</p>
            <select name="" id="">
                <option value="">请选择</option>
            </select>
            <p>手机 :</p>
            <input type="text">
            <div class="edituserinfo_btn">
                <button>保存</button>
                <button>取消</button>
            </div>
        </div>
    </div>
</body>
<script>
   
</script>

</html>