<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>
    <link rel="stylesheet" href="../css/Reset.css">
    <link rel="stylesheet" href="../css/headerAndFoot.css">
</head>

<body>
    <div id="header" class="header">
        <div class="top center">
            <div class="logo lf">
                <h3>协同办公管理平台</h3>
                <h4>考勤子系统</h4>
            </div>
            <span class="fr"><a href="#">退出</a></span>
            <span class="fr"><a href="#">个人信息</a></span>
            <div class="selected">
                <p class="userAdmin fl"><a href="#">用户管理</a></p>
                <p class="departmentAdmin fl"><a href="#">部门管理</a></p>
                <p class="attendanceSettings fl"><a href="#">考勤设置</a></p>
            </div>
        </div>
        <p class="bottom">当前位置:用户管理</p>
    </div>














    
    <div id="footer" class="footer">
        <p class="fl">当前用户 : 管理员</p>
        <p class="fl">用户类型 : 系统管理员</p>
        <p class="fr">协同办公管理平台----考勤子系统</p>
    </div>

</body>

</html>