<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../stylesheets/Reset.css">
<link rel="stylesheet" href="../stylesheets/index.css">

<body>
    <div id="box">
        <div id="box1">
            <div id="box1-top"></div>
            <div id="box1-bottom"></div>
            <div id="login">
                <form method="POST" action="/users/login">
                    <p class="login1">
                        <span class="icon"><img src="images/用户.png" alt=""></span>
                        用户登录
                    </p>
                    <p id="hint"></p>
                    <p id="user">
                        <span>用户名：</span>
                        <input type="text" id="adminname" name="admin">
                    </p>
                    <p id="pwd">
                        <span>密&emsp;码：</span>
                        <input type="text" id="adminpwd" name="passworld">
                    </p>
                    <button id="btn">登录</button>
                </form>
            </div>
        </div>

        <div id="box2"></div>
    </div>
</body>



</html>